<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
    crossorigin="anonymous"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Judson:ital,wght@0,400;0,700;1,400&family=Lato:ital,wght@0,100;0,300;1,100;1,300&family=Suez+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../css/styles.css">
<link rel="stylesheet" href="../css/menu.css">
<script
src="https://kit.fontawesome.com/7fe8d89f56.js"
crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="fragrams/header :: header" />

<section class="menu-hero">
    <div><img src="../media/seafood-pasta.jpg" class="menu-hero-pic" alt="pasta-dish" width="1920px"></div>
</section>
<div class=" menu container-fluid text-center">
<section class="menu-head">
<h2>OUR MENU</h2>
<h3>BREAKFAST - LUNCH - DINNER - DESSERT</h3>
</section>

<section class="menu-list">
  <div class="breakfast">
  <h1>BREAKFAST</h1>
  <p class="day">Monday-Sunday</p>
  <p class="time">10:00 AM - 1:30 PM</p>
  <ul>
    <li>AVOCADO CRANBERRY TOAST</li>
    <li>Whole Grain Toast, Avocado, Cranberry Sauce, Choice of Bacon, Breakfast Sausage or Chicken Sausage</li>
    <li>SMOKED SALMON TOAST</li>
    <li>Acme Smoked Salmon, Spring Onion Crème Fraîche, Sesame Seeds, Poppy Seeds, Pickled Red Onion.</li>
    <li>LAVENDER MAPLE PANCAKES</li>
    <li>Whole Grain Pancake, Lavender Chutney, Maple Syrup</li>
    <li>STEAK & EGGS</li>
    <li>7oz Hanger Steak, Gremolata, Scrambled Eggs, Cheddar, Long Island Home Fries, Toast
    </li>
  </ul>
</div>

<div class="lunch">
<ul>
  <h1>LUNCH</h1>
  <p class="day">Monday-Sunday</p>
  <p class="time">11:00 AM - 6:30 PM</p>
<li>CHOPPED SALAD
</li>
<li>Grilled Spring Veggies, Narragansett Feta, 6 Minute Egg, Crouton, Green Goddess
</li>
<li>FRIED CHICKEN SANDWICH
</li>
<li>Chicken Breast, Shredded Cabbage, B&B Pickles, Kewpie Mayo, Hot Honey, Sesame “Big Marties” Bun
</li>
<li>HOUSE SPECIAL BURGER</li>
<li>Two Patties, Cheddar Cheese, Special Sauce, B&B Pickles, Sesame “Big Marties” Bun
</li>
<li>WARM GRAIN BOWL 
</li>
<li>Brown & Wild Rice, Grilled Snap Peas, Spring Radishes, Cucumbers, Pepita Romesco, Choice of Smoked Salmon or Roast Turkey

</li>
</ul>
</div>
<div>
  <h1>DINNER</h1>
  <p>Monday - Sunday</p>
  <p>4:00 PM - 9:30 PM </p>
  <ul>
    <li>PAN ROASTED ALASKAN HALIBUT
    </li>
    <li>Chowder Sauce, Manila Clams, Potato Parisienne, Applewood smoked bacon
    </li>
    <li>GRILLED MISHIMA RANCH BEEF BAVETTE</li>
    <li>Bone Marrow Potato Gratin, Local Asparagus, Herbed Bordelaise Vinaigrette</li>
    <li>RATATOUILLE</li>
    <li>Eggplant, Summer squash, Tomato conserva
    </li>
    <li>
      SEAFOOD	PASTA</li>
    <li>Freshly made Spaghetti, Clams, scallop, shrimp, *bacon, garlic, mama lil's peppers, parsley, white wine, butter *can be prepared without bacon</li>
    <li>PAN ROASTED CHICKEN</li>
    <li>Asparagus, roasted Yukon gold potatoes, sauce Robert</li>
  </ul>
</div>
  <div>
    <h1>DESSERT</h1>

    <ul>
      <li>COCONUT TAPIOCA
      </li>
      <li>rum glazed pineapple, makrut lime ice cream
      </li>
      <li>HOUSE RICOTTA CHEESE</li>
      <li>stone fruit relish, hazelnut, eckholm farm honey</li>
      <li>SPICED CARROT PISTACHIO CAKE</li>
      <li>Rose cream cheese, carrot cake, aged dried fruit
      </li>
      <li>
        CHERRY PIE A LA MODE</li>
      <li>Freshly made cherry pie, Vanilla bean ice cream</li>

    </ul>
    <div>
      <h1>Cocktails</h1>
      <ul>
        <li>ESPRESSO MARTINI
        </li>
        <li>Espresso, creme de cacao, vodka, coffee liqueur, dash of cream and house made chocolate sauce
        </li>
        <li>VESPER</li>
        <li>Vodka, London dry gin, lillet blanc, lemon twist</li>
        <li>UPTOWN MANHATTAN</li>
        <li>Bourbon, Antica formula, orange bitters, brandied cherry juice, orange peel
        </li>
        <li>
          PINA COLADA</li>
        <li>Rum, Freshly made pineapple juice & coconut cream</li>
      </ul>

</section>
</div>
    <div th:replace="fragrams/footer :: footer"/>


</body>

</html>


